.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #013914;

  color: #fff;
  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    position: relative;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;
        // background-color: #19a463;

        // I added on my own
        width: 600px;
        i {
          font-weight: 300;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 5px;
        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          height: 40px;
          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
          }
        }

        button {
          width: 100px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #19a463;
            transition: ease all 0.3s;
          }
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
        }
        button {
          color: #fff;
          background-color: transparent;
          border: 1px solid #fff;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .right {
      img {
        // height: 100%;
        width: 100%;
        // height: 100%;
        height: 604px;
        padding-left: 100px;
        object-fit: cover;
        // object-fit: contain;
      }
    }
  }
}
